@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);

body {
  font-family: 'Fredericka the Great';
  font-size: 2em;
  font-weight: bold;
  color: #4c251d;
}

.App {
  max-width: 200px;
  text-align: center;
  border: 20px solid #4c251d;
  border-radius: 30px;
  background-color: #FFECA1;
  padding: 0 5vw;
  padding-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #4c251d;
  cursor: pointer;
}

a:last-child {
  font-size: .7em;
}

td {
  padding: 0;
  text-align: center;
}

td:first-child {
  text-align: left;
}

td:nth-child(2) {
}

#new {
  font-size: .5em;
  float: left;
}

@media screen and (orientation: portrait) {
  body {
    max-height: 80%;
    max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  body { max-height: 90%; }
}
